.clicker{
    margin-top: 50px ;
    text-align: center;
}
#siteBlocker{
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 1;
    position: absolute;
}
#popUp{
    z-index: 2;
    position: absolute;
    width:100%;
    height: 100%;
    text-align: center;

}
#clickButton{
    position: center;
}
.hidden{
    display: none;
}